VITE_SUPABASE_URL=https://ialhjiepqydcqbphuhpf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhbGhqaWVwcXlkY3FicGh1aHBmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY1MjIzNDcsImV4cCI6MjEwMjA5ODM0N30.-rVGIsk2e47HIGKM-T8MLbVr8bb5J2l3uWK56kZeh1M